@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;600;800&display=swap');

/* start reset */

html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, form, fieldset, caption, legend,
table, tr, td, th, address, blockquote, img {
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: none;
}

blockquote, q {
  quotes: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

button, label, summary {
  cursor: pointer;
}

body, button, input, table, textarea, select {
  font-size: 1rem;
  line-height: 1.5;
  font-family: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* end reset */

:root {
  --yellow: hsl(47, 88%, 63%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font: 600 1em/1.5 Figtree, sans-serif;
  background: var(--yellow);
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  box-sizing: border-box;
  width: 20.5625rem;
  margin: 0 1.5rem 0;
  padding: 1.5rem;
  background: #fff;
  border-radius: 1.25rem;
  border: 1px solid var(--black);
  box-shadow: 8px 8px 0 0 var(--black);
  transition: 0.2s box-shadow;
}

article:hover {
  box-shadow: 16px 16px 0 0 var(--black);
}

article img {
  height: 12.5rem;
  object-fit: cover;
  border-radius: 0.625rem;
}

header {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  font-size: 0.75rem;
}

h1 {
  order: 1;
  font-weight: 800;
  font-size: 1.25rem;
}

h1 a {
  text-decoration: none;
  color: var(--black);
  transition: 0.1s color;
}

h1 a:active,
h1 a:focus,
h1 a:hover {
  color: var(--yellow);
}

.tags {
  order: -1;
  margin: 0;
}

.tags li {
  background: var(--yellow);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: 800;
}

span {
  font-weight: 500;
}

p {
  margin:-0.75rem 0 0;
  color: var(--grey);
  font-weight: 500;
  font-size: 0.875rem;
}

article footer {
  font-weight: 800;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 0.875rem;
}

article footer img {
  width: 2rem;
  height: 2rem;
}

.attribution {
  max-height: 1em;
  line-height: 1;
  font-size: .875em;
  color: #000;
  opacity: 0.75;
  margin: 1.5em 0 -2.5em;
}

@media(min-width: 27.125rem) {
  article {
    width: 24.125rem;
  }

  header {
    font-size: 0.875rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}